*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    height: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 250px;
    margin-top: 100px;
    background-image: url(ee.png);
}
.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: white;
    border-radius: 10px;
    height: 610px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container .form{
    padding: 30px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
}
.container-2{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: white;
    border-radius: 10px;
    height: 450px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container-2 .form{
    padding: 30px;
}
.container-2 .form .title{
    position: relative;
    font-size: 27px;
}
.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: rgb(255, 0, 0);
    border-radius: 25px;
}
.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}
.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid rgb(234, 172, 58);
    border-top: 2px solid transparent;

}
.input-field input:is(:focus, :valid){
    border-bottom-color: rgb(255, 0, 157);
}
.input-field i{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: rgb(255, 0, 0);
    font-size: 20px;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid) ~i{
color: rgb(255, 0, 157);
}
.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    left: 345px;
    cursor: pointer;
}

.form .checkbox-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}
.checkbox-content input{
    accent-color: red;
    margin: 0 8px -2px 4px;
    cursor: pointer;
}
.form .text{

    color: black;
    font-size: 14px;
}
.form a{
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 35px;
}
.form .button input{
    border: none;
    color: white;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: red;
    cursor: pointer;
    font-weight: 500
    border-radius: 6px;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}
.button input:hover{
    background-color: rgb(255, 204, 0);
}
.form .login-signup{
    margin-top: 30px;
    text-align: center;
}
.login-signup .text-signup-text{
    font-weight: bold;
    color: red;
}
.input-field button{
    width: 100%;
    height: 100%;
    background-color: red;
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
    border: none;
    font-size: large;
    border-radius: 10px;
}
.input-field button:hover{
    background-color: rgb(255, 60, 200);
}
.social{
    margin: 30px auto;
    text-align: center;
}
.social img{
    width: 30px;
    margin: 0 12px;
    cursor: pointer;
    border-radius: 50px;
}
@media screen and (max-width: 768px){
    body{
        height: 100%;
        display: flex;
        margin-right: 0px;
        margin-top: 100px;
        background-image: url(ee.png);
    }
    .container{
        position: relative;
        max-width: 430px;
        width: 100%;
        display: block;
        margin: auto;
        height: 610px;
    }
    .container-2{
        position: relative;
        max-width: 430px;
        width: 100%;
        display: block;
        margin: auto;
        height: 450px;
    }
}